# แบบฝึกหัด 3

---

In [23]:
import numpy as np
import pandas as pd
import statistics
import math

###

3.1 บริษัทให้บริการด้าน IT ครบวงจรแห่งหนึ่งได้เก็บรวบรวมข้อมูลค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่ายและจำนวนลูกค้าของบริษัทในปีที่ผ่านมาเป็นดังไฟล์ ex3_1_itcost.csv  
จงแสดงวิธีหาค่ามัธยฐานและฐานนิยมของค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่าย

In [24]:
df_it = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_1_itcost.csv')
df_it

  maintenance_cost  num_customer
0           <=5000            33
1       5001-10000            41
2      10001-15000            20
3      15001-20000            17
4      20001-25000            10
5      25001-30000            16
6          >=30001             5

In [25]:
#your code
def change(x):
    if x == None:
        return 0
    if '<=' in x:
        return int(x.replace('<=',''))
    elif '>=' in x: 
        return int(x.replace('>=',''))
    return int(x)

df_it[["c_from","c_to"]] = df_it.maintenance_cost.str.split('-',expand=True) 
df_it.c_from = df_it.c_from.apply(change)
df_it.c_to = df_it.c_to.apply(change)

df_it.iloc[0,[2,3]] = df_it.iloc[0,[3,2]]
df_it

  maintenance_cost  num_customer  c_from   c_to
0           <=5000            33       0   5000
1       5001-10000            41    5001  10000
2      10001-15000            20   10001  15000
3      15001-20000            17   15001  20000
4      20001-25000            10   20001  25000
5      25001-30000            16   25001  30000
6          >=30001             5   30001      0

In [26]:
#your code
# cum sum
df_it['num_customer_cum'] = df_it['num_customer'].cumsum()

med_pos = df_it['num_customer'].sum()/2

for i in df_it.index:
    if df_it.num_customer_cum[i] >= med_pos:
        e = i
        break

print(df_it)

lower_e = (df_it.c_from[e] + df_it.c_to[e-1]) / 2
Fb = df_it.num_customer_cum[e-1]
Fe = df_it.num_customer[e]
i  = (df_it.c_to[e] - df_it.c_from[e])+1
median = lower_e + ((med_pos - Fb)/ Fe) * i
f"Median = {median:.2f}"

  maintenance_cost  num_customer  c_from   c_to  num_customer_cum
0           <=5000            33       0   5000                33
1       5001-10000            41    5001  10000                74
2      10001-15000            20   10001  15000                94
3      15001-20000            17   15001  20000               111
4      20001-25000            10   20001  25000               121
5      25001-30000            16   25001  30000               137
6          >=30001             5   30001      0               142

'Median = 9634.65'

In [27]:
#your code
for i in df_it.index:
    if df_it.num_customer[i] == df_it.num_customer.max():
        e =i
        break

Lower_e = (df_it.c_from[e] + df_it.c_to[e-1]) / 2

D_e_lower = df_it.num_customer[e] - df_it.num_customer[e-1]
D_e_upper = df_it.num_customer[e] - df_it.num_customer[e+1]
i = (df_it.c_to[e] - df_it.c_from[e])+1

Mode = Lower_e + (D_e_lower/(D_e_lower+D_e_upper))*i
f"Mode = {Mode:.2f}"

'Mode = 6379.81'

###

3.2 สุ่มตัวอย่างนักศึกษามาจำนวนหนึ่ง พบว่าคะแนนสอบวิชาสถิติ เป็นดังตาราง 'ex3_2_score.csv' จงหาค่า

**3.2.1 ค่าเฉลี่ย**

In [28]:
df_score = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_2_score.csv')
df_score.head()

   score  num_student
0  11-15           15
1  16-20           14
2  21-25           20
3  26-30           18
4  31-35           16

In [29]:
#your code
boundary = df_score['score'].str.split('-',expand=True).astype(int)
df_score[['score_from','score_to']] = boundary
df_score['mid_score(x)'] = (boundary[0]+boundary[1])/2
df_score['fx'] = df_score['num_student'] * df_score['mid_score(x)']
Xbar = df_score['fx'].sum() / df_score['num_student'].sum()
print(df_score)
f"Mean = {Xbar}"

   score  num_student  score_from  score_to  mid_score(x)     fx
0  11-15           15          11        15          13.0  195.0
1  16-20           14          16        20          18.0  252.0
2  21-25           20          21        25          23.0  460.0
3  26-30           18          26        30          28.0  504.0
4  31-35           16          31        35          33.0  528.0
5  36-40           17          36        40          38.0  646.0

'Mean = 25.85'

**3.2.2 ค่ามัธยฐาน**

In [30]:
#your code
# cum sum
df_score['num_student_cum'] = df_score['num_student'].cumsum()

med_pos = df_score['num_student'].sum()/2

for i in df_score.index:
    if df_score.num_student_cum[i] >= med_pos:
        e = i
        break

lower_e = (df_score.score_from[e] + df_score.score_to[e-1]) / 2

print(df_score)
Fb = df_score.num_student_cum[e-1]
Fe = df_score.num_student[e]
i  = (df_score.score_to[e] - df_score.score_from[e])+1
median = lower_e + ((med_pos - Fb)/ Fe) * i
f"Median = {median:.2f}"

   score  num_student  score_from  score_to  mid_score(x)     fx  \
0  11-15           15          11        15          13.0  195.0
1  16-20           14          16        20          18.0  252.0
2  21-25           20          21        25          23.0  460.0
3  26-30           18          26        30          28.0  504.0
4  31-35           16          31        35          33.0  528.0
5  36-40           17          36        40          38.0  646.0

   num_student_cum
0               15
1               29
2               49
3               67
4               83
5              100

'Median = 25.78'

**3.2.3 ค่าฐานนิยม**

In [31]:
#your code
for i in df_score.index:
    if df_score.num_student[i] == df_score.num_student.max():
        e =i
        break

Lower_e = (df_score.score_from[e] + df_score.score_to[e-1]) / 2

D_e_lower = df_score.num_student[e] - df_score.num_student[e-1]
D_e_upper = df_score.num_student[e] - df_score.num_student[e+1]
i = (df_score.score_to[e] - df_score.score_from[e])+1

Mode = Lower_e + (D_e_lower/(D_e_lower+D_e_upper))*i
f"Mode = {Mode}"

'Mode = 24.25'

**3.2.4 Q<sub>1</sub> และ Q<sub>3</sub>**

In [32]:
#your code
def findPosQDP(r,n,unique):
    return (n*r)/unique
def findQDPr(unique,r, df):
    n = df.num_student.sum()
    posQDPr = findPosQDP(r,n,unique)
    for i in df.index:
        if df.num_student_cum[i] >= posQDPr:
            e = i
            break
    Lower_e = (df.score_from[e] + df.score_to[e-1]) / 2
    Fb = df.num_student_cum[e-1]
    Fe = df.num_student[e]
    i = (df.score_to[e] - df.score_from[e])+1
    return Lower_e + ((posQDPr-Fb)/Fe)*i
q1 = findQDPr(4,1,df_score)
q3 = findQDPr(4,3,df_score)
# print(df_score)
f"q1 = {q1:.2f} q3 = {q3:.2f}"

'q1 = 19.07 q3 = 33.00'

**3.2.5 D<sub>7</sub>**

In [33]:
#your code
d7 = findQDPr(10,7,df_score)
# print(df_score)
f"d7 = {d7:.2f}"

'd7 = 31.44'

**3.2.6 P<sub>75</sub>**

In [34]:
#your code
p75 = findQDPr(100,75,df_score)
# print(df_score)
f"p75 = {p75:.2f}"

'p75 = 33.00'

**3.2.7 พิสัย**

In [35]:
#your code
L_real_lower_min = df_score.score_from.min()-0.5
L_real_upper_max = df_score.score_to.max()+0.5
Range = L_real_upper_max - L_real_lower_min
f"Range = {Range:.2f}"

'Range = 30.00'

**3.2.8 ส่วนเบี่ยงเบนควอร์ไทล์**

In [36]:
#your code
qd = (q3 - q1)/2
f"Q.D. = {qd:.2f}"

'Q.D. = 6.96'

**3.2.9 ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน**

In [37]:
#your code
df_score['fx^2'] = df_score.num_student * (df_score['mid_score(x)']**2)
n = df_score.num_student.sum()
sd = math.sqrt((df_score['fx^2'].sum() - (n*(Xbar**2))) / (n-1))
variance = sd**2
f"SD = {sd:.2f} VARIANCE = {variance:.2f}"

'SD = 8.36 VARIANCE = 69.83'

**3.2.10 สัมประสิทธิ์ของการแปรผัน**

In [38]:
#your code
cv = (sd/Xbar)*100
f"C.V. = {cv:.2f}%"

'C.V. = 32.33%'

###

3.3 บริษัทเกมแห่งหนึ่งได้ทำการทดสอบ game engine รุ่นใหม่ ในคอมพิวเตอร์ที่มีส่วนประกอบของฮารด์แวร์ต่างๆกัน (เช่น cpu, gpu, ram, ฯลฯ) จำนวน 30 เครื่อง และทำการวัดค่า frames per second (FPS) ได้ผลดังนี้  
60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,  
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,   
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0   
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q<sub>1</sub>, D<sub>3</sub>, P<sub>45</sub> ของค่า FPS ที่ได้จากการทดสอบ

ค่าเฉลี่ย:

In [39]:
fps = [60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,
       22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
       32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]

In [40]:
#your code

fps = np.array(fps)
mu = fps.mean()
f"Mean = {mu:.2f}"

'Mean = 37.01'

ส่วนเบี่ยงเบนมาตราฐาน:

In [41]:
#your code
df_fps = pd.DataFrame({"fps": fps})
df_fps["Xi-Mean^2"] = (df_fps.fps-mu)**2
zigma = math.sqrt(df_fps["Xi-Mean^2"].sum()/df_fps.shape[0])
f"SD = {zigma:.2f}"

'SD = 13.28'

ฐานนิยม:

In [42]:
#your code
Mode = statistics.multimode(fps)
f"Mode = {Mode}"

'Mode = [25.5]'

Q<sub>1</sub>, D<sub>3</sub> และ P<sub>45</sub>:

In [43]:
#your code
q1 = np.percentile(fps,25,method="weibull")
d3 = np.percentile(fps,30,method="weibull")
p45 = np.percentile(fps,45,method="weibull")
f"Q1 = {q1:.2f} D3 = {d3:.2f} P45 = {p45:.2f}"

'Q1 = 27.70 D3 = 28.78 P45 = 32.13'

###

3.4 หน่วยงานวิจัยแห่งหนึ่งได้รับมอบหมายจากทางรัฐบาลให้ทำการเปรียบเทียบระบบที่ใช้ในการผลิตพลังงานกระแสไฟฟ้าสำหรับนิคมอุตสาหกรรมแห่งหนึ่ง ระบบแรกมีกำลังการผลิตสูงสุด 10,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 9,000±320 เมกะวัตต์ ระบบที่สองมีกำลังการผลิตสูงสุด 15,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 14,000±900 เมกะวัตต์ จากข้อมูลนี้ทางสถาบันวิจัยจะสามารถสรุปว่าระบบใดมีกำลังการผลิตที่เที่ยงตรงกว่า

In [44]:
#your code
sd1 = 320
sd2 = 900
mean1 = 9000
mean2 = 14000
cv1 = (sd1/mean1)*100
cv2 = (sd2/mean2)*100
f"CV1 = {cv1:.2f}%, CV2 = {cv2:.2f}%"

'CV1 = 3.56%, CV2 = 6.43%'

สรุปได้ว่า ระบบแรก(CV1) มีกำลังการผลิดที่เที่ยงตรงกว่าระบบที่2(CV2) เพราะมีสัมประสิทธิ์การแปรผันต่ำกว่า