## <font color='DE1509'>การสุ่มตัวอย่าง</font>

ในบทนี้ชุดข้อมูลที่ใช้คือ "titanic.csv" ซึ่งเป็นข้อมูลของผู้โดยสารเรือไททานิคมีรายละเอียดของแต่ละคอลัมน์ดังนี้:

PassengerId: ID ของผู้โดยสาร
Survived: ผู้โดยสารรอด (1) หรือเสียชีวิต (0)  
Pclass: ชนชั้นของผู้โดยสาร first class (1), second class (2), thrid class (3)  
Name: ชื่อ-สกุล  
Sex: เพศ    
Age: อายุ  
SibSp: จำนวนพี่น้อง (siblings) และคู่สมรส (spouse) ที่เดินทางมาด้วย    
Parch:  จำนวนบิดา-มารดา (parent) และบุตร (child) ที่เดินทางมาด้วย  
Ticket: รหัสตั๋วโดยสาร  
Fare: ค่าตั๋วโดยสาร  
Cabin: รหัสห้องผู้โดยสาร  
Embarked: ท่าเรือต้นทาง Southampton (S), Cherbourg (C), และ Queenstown (Q)

\*\*วิธีการต่างๆที่แสดงในบทเรียนนี้เป็นเพียงแค่การยกตัวอย่างเท่านั้น ในการนำไปใช้จริงประชากรควรมีจำนวนมากกว่าชุดข้อมูลที่นำมาเป็นตัวอย่างนี้

\
ทำการ import library ที่ต้องใช้:

In [1]:
import numpy as np #สำหรับการจัดการข้อมูลที่เป็นตัวเลขต่างๆ
import pandas as pd #สำหรับอ่านข้อมูลให้อยู่ในรูปแบบ dataframe
import matplotlib.pyplot as plt #เพื่อใช้ควบคู่กับ seaborn ในการทำ data visualization
import seaborn as sns #สำหรับการทำ data visualization

\
อ่านข้อมูลจากไฟล์ให้อยู่ในรูปแบบ dataframe และแสดงข้อมูล 5 แถวแรก:

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

\
ดูภาพรวมข้อมูลเบื้องต้น:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

\
เนื่องจากในบทนี้จะใช้ข้อมูลอายุเป็นหลัก จึงต้องกรองให้มีเฉพาะผู้โดยสารที่มีข้อมูลอายุเท่านั้น:

In [4]:
df = df[df.Age.notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 72.5+ KB

####   
#### 1. เลือกตัวอย่างขนาด n = 100 โดยใช้การสุ่มตัวอย่างแบบง่าย (simple random sampling)

In [5]:
sample_simple_rand = df.sample(n=100)
sample_simple_rand.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
606,607,0,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
847,848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.0,1,0,PC 17761,106.4250,C86,C
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.0,0,0,229236,13.0000,NaN,S

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [6]:
sample_simple_rand.Age.mean()

29.4333

In [7]:
f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_simple_rand.Age.mean(): .2f} ± {sample_simple_rand.Age.std(): .2f}"

'ค่าเฉลี่ยอายุตัวอย่าง =  29.43 ±  15.16'

\
ค่าเฉลี่ยอายุของประชากร:

In [8]:
df.Age.mean()

29.69911764705882

In [9]:
f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}"

'ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53'

\
การกำหนดเลขสุ่มเพื่อให้สามารถทำการทดลองซ้ำได้

In [10]:
sample_simple_rand = df.sample(n=100, random_state=123)

In [11]:
sample_simple_rand.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
651,652,1,2,"Doling, Miss. Elsie",female,18.0,0,1,231919,23.0000,NaN,S
694,695,0,1,"Weir, Col. John",male,60.0,0,0,113800,26.5500,NaN,S
797,798,1,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1,0,PC 17758,108.9000,C65,C

####  
#### 2. เลือกตัวอย่างขนาด n = 100 โดยใช้การสุ่มตัวอย่างแบบมีระบบ (systematic sampling)

\
หาขนาดช่วงการสุ่ม I:

In [18]:
I = df.shape[0]/100
I

7.14

\
index ของแถวที่เลือกเป็นช่วงตามค่า I โดยใช้ค่า r = 1 (index แรก = 0):

In [13]:
sel_idx

NameError: name 'sel_idx' is not defined

\
ตรวจสอบจำนวนตัวอย่างที่ได้:

In [ ]:
len(sel_idx)

\
เนื่องจากจำนวนตัวอย่างเกินมา 2 จะตัดให้เหลือ 100 เท่านั้น:

In [ ]:
sel_idx = sel_idx[0:100]
len(sel_idx)

\
เลือกตัวอย่าง:

In [ ]:
sample_sys_rand = df.iloc[sel_idx,]
sample_sys_rand.head()

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
sample_sys_rand.Age.mean()

In [ ]:
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_sys_rand.Age.mean(): .2f} ± {sample_sys_rand.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

####   
#### 3. เลือกตัวอย่างขนาด n = 100 โดยใช้การสุ่มตัวอย่างแบบชั้นภูมิ (stratified sampling)

ในที่นี้จะแบ่งชั้นภูมิตามคอลัมน์ Pclass ดังนั้นจะแบ่งได้ 3 ชั้นภูมิ  
เบื้องต้นหาจำนวนผู้โดยสารของแต่ละชั้นภูมิ:

In [ ]:
df.Pclass.value_counts()

จะเห็นได้ว่าผู้โดยสาร Pclass=3 มีจำนวนมากกว่า 1 และ 2  
หากคิดเป็นร้อยละของจำนวนตัวอย่างในแต่ละ Pclass จะได้ว่า:

In [ ]:
np.round(df.Pclass.value_counts()/df.shape[0] * 100)

\
เนื่องจากเป้าหมายต้องการตัวอย่างขนาด n = 100 จะต้องทำการสุ่มเลือกหน่วยตัวอย่างจาก Pclass 1, 2 และ 3 จำนวน 24, 21 และ 55 หน่วยตัวอย่างตามลำดับ:

In [ ]:
sample_strat_pclass = pd.concat([
    df[df['Pclass']==1].sample(n=26),
    df[df['Pclass']==2].sample(n=24),
    df[df['Pclass']==3].sample(n=50)
])
sample_strat_pclass.info()

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
sample_strat_pclass.Age.mean()

In [ ]:
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_strat_pclass.Age.mean(): .2f} ± {sample_sys_rand.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

####   
#### 4. เลือกตัวอย่างโดยใช้การสุ่มตัวอย่างแบบกลุ่ม (cluster sampling)

การเลือกแบบนี้จะทำการกำหนดขนาด n ไม่ได้เนื่องจากต้องเลือกทั้งกลุ่ม
ในที่นี้จะแบ่งกลุ่มตามคอลัมน์ Pclass ดังนั้นจะแบ่งได้ 3 กลุ่ม  
และเลือกกลุ่ม Pclass 1, 2 หรือ 3 ทั้งกลุ่ม:

In [ ]:
df.Pclass.value_counts()

ทำการสุ่มมา 1 กลุ่มแล้วเลือกตัวอย่างทั้งกลุ่มจากที่สุ่มมา

In [ ]:
import random
sel_pclass = random.randint(1,3)
print(sel_pclass)

In [ ]:
sample_cluster = df[df.Pclass==sel_pclass]

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_cluster.Age.mean(): .2f} ± {sample_cluster.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

\
หากสุ่มได้ Pclass=3:

In [ ]:
sample_cluster_pclass3 = df[df.Pclass==3]
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_cluster_pclass3.Age.mean(): .2f} ± {sample_cluster_pclass3.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

\
หากสุ่มได้ Pclass=1:

In [ ]:
sample_cluster_pclass1 = df[df.Pclass==1]
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_cluster_pclass1.Age.mean(): .2f} ± {sample_cluster_pclass1.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

\
จะเห็นได้ว่าการเลือก Pclass=1 และ 3 ค่าเฉลี่ยอายุจะมีความคลาดเคลื่อนจากประชากรค่อนข้างมาก