In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

In [2]:
df = pd.read_csv("https://kasets.art/QdsyoF")

In [4]:
df

    mk_share  payback_customer
0         15                24
1         14                20
2         18                25
3         20                28
4         10                15
5         11                15
6         13                16
7         16                17
8         10                12
9         12                13
10        15                15
11        17                16
12        22                30
13        19                25

In [5]:
x = df.mk_share
y = df.payback_customer

In [6]:
x_wconst =sm.add_constant(x)
lr = sm.OLS(y,x_wconst).fit()
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       payback_customer   R-squared:                       0.746
Model:                            OLS   Adj. R-squared:                  0.725
Method:                 Least Squares   F-statistic:                     35.31
Date:                Thu, 22 Feb 2024   Prob (F-statistic):           6.79e-05
Time:                        13:53:57   Log-Likelihood:                -34.603
No. Observations:                  14   AIC:                             73.21
Df Residuals:                      12   BIC:                             74.48
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.1905      3.555     -0.335      0.744      -8.937       6.556
mk_share       1.3569      0.228      5.942      0.000       0.859       1.854
==============================================================================
Omnibus:                        0.988   Durbin-Watson:                   0.824
Prob(Omnibus):                  0.610   Jarque-Bera (JB):                0.778
Skew:                          -0.509   Prob(JB):                        0.678
Kurtosis:                       2.455   Cond. No.                         67.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/Users/sirisuk/anaconda3/envs/ProgStat_Py3_11/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1806: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [13]:
y_hat = -1.1905 + (1.3569 * 50)
y_hat

66.6545

In [16]:
# H0 
f_crit = stats.f.isf(0.05,dfn=1,dfd=12)
f_crit

4.747225346722511