In [4]:
import numpy as np
import pandas as pd
from scipy import stats

df = pd.read_csv("http://tinyurl.com/ProgStatMtcars")

In [8]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [26]:
pd.crosstab(df.am,df.vs)

vs   0  1
am
0   12  7
1    6  7

In [58]:
O = np.array([df.am,df.vs])
O = O.reshape(32,2)

In [59]:
E = np.zeros(O.shape)

In [60]:
for i in range(O.shape[0]):
    for j in range(O.shape[1]):
        E[i,j] = O[i].sum()*O[:,j].sum()/O.sum()

In [61]:
E

array([[0.81481481, 1.18518519],
       [0.40740741, 0.59259259],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.40740741, 0.59259259],
       [0.81481481, 1.18518519],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.40740741, 0.59259259],
       [0.81481481, 1.18518519],
       [0.81481481, 1.18518519],
       [0.81481481, 1.18518519],
       [0.        , 0.        ],
       [0.81481481, 1.18518519],
       [0.40740741, 0.59259259],
       [0.40740741, 0.59259259],
       [0.81481481, 1.18518519],
       [0.40740741, 0.59259259],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.40740741, 0.59259259],
       [0.81481481, 1.18518519],
       [0.40740741, 0.59259259],
       [0.        , 0.        ],
       [0.40740741, 0.59259259],
       [0.40740741, 0.59259259],
       [0.        , 0.        ],
       [0.40740741, 0.59259259]])

In [62]:
r = E.shape[0]
c = E.shape[1]

In [63]:
v = (r - 1)*(c - 1)

In [68]:
chi2_cal = ((O-E)**2/E).sum()
chi2_crit_left = stats.chi2.ppf(0.05/2,df=v)
chi2_crit_right = stats.chi2.isf(0.05/2,df=v)

/var/folders/5g/88_vg2516fbcg_fqg8h187h00000gn/T/ipykernel_12721/2877462884.py:1: RuntimeWarning: invalid value encountered in divide
  chi2_cal = ((O-E)**2/E).sum()

In [71]:
chi2_cal,chi2_crit_left,chi2_crit_right

(nan, 17.5387385814755, 48.23188959445198)

In [72]:
p_val = 2*min(stats.chi2.cdf(chi2_cal,df=v),stats.chi2.sf(chi2_cal,df=v))

In [73]:
p_val

nan