In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import statistics
from math import perm, comb

In [2]:
scores = pd.read_csv("~/Desktop/CSV/fundcom_pakaket.csv")
scores.head()

   ลำดับ   รหัสนิสิต  การบ้าน&เข้าห้อง(5%)  สอบกลางภาค(20%)  รวม(25%)
0      1  xxxxxx0048                  4.00            13.25     17.25
1      2  xxxxxx0064                  4.50            12.75     17.25
2      3  xxxxxx0072                  5.00             7.75     12.75
3      4  xxxxxx0081                  1.25             5.25      6.50
4      5  xxxxxx0099                  4.50             5.75     10.25

In [35]:
scores[scores['รวม(25%)'] > 0].sort_values(by='รวม(25%)', ascending=False)

     ลำดับ   รหัสนิสิต  การบ้าน&เข้าห้อง(5%)  สอบกลางภาค(20%)  รวม(25%)
138    139  xxxxxx2272                  5.00            17.75     22.75
131    132  xxxxxx2205                  5.00            17.50     22.50
152    153  xxxxxx5905                  5.00            17.00     22.00
153    154  xxxxxx5913                  5.00            16.50     21.50
102    103  xxxxxx1918                  5.00            16.50     21.50
..     ...         ...                   ...              ...       ...
95      96  xxxxxx1206                  2.50             1.25      3.75
140    141  xxxxxx2299                  1.50             1.75      3.25
96      97  xxxxxx1214                  2.75             0.00      2.75
148    149  xxxxxx5867                  1.00             1.25      2.25
107    108  xxxxxx1969                  0.00             2.25      2.25

[170 rows x 5 columns]

In [33]:
np.mean(scores['การบ้าน&เข้าห้อง(5%)']),np.std(scores['การบ้าน&เข้าห้อง(5%)'])

(4.199941176470587, 0.9990810466204746)

In [30]:
np.mean(scores['สอบกลางภาค(20%)']),np.std(scores['สอบกลางภาค(20%)'])

(9.136764705882353, 4.273555979432416)

In [34]:
np.mean(scores['รวม(25%)']),np.std(scores['รวม(25%)'])

(13.33670588235294, 4.850926627850489)